// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #ff9654;
$secondary: #ffda32;
$primarysoft: #ff9654;
$primarydark: #f76627;
$secondarysoft: #fff2b0;
$secondarydark: #febb25;

$white: white;
$black: black;
$grey: #F0F0F0;
$greydark: #E8E8E8;
